<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-firma-heading" jhiTranslate="licitatiiApp.firma.home.createOrEditLabel">Create or edit a Firma</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="licitatiiApp.firma.numeFirma" for="field_numeFirma">Nume Firma</label>
                    <input type="text" class="form-control" name="numeFirma" id="field_numeFirma"
                           formControlName="numeFirma"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="licitatiiApp.firma.dreptPreemtiune" for="field_dreptPreemtiune">Drept Preemtiune</label>
                    <input type="checkbox" class="form-control" name="dreptPreemtiune" id="field_dreptPreemtiune"
                           formControlName="dreptPreemtiune"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="licitatiiApp.firma.volum" for="field_volum">Volum</label>
                    <input type="number" class="form-control" name="volum" id="field_volum"
                           formControlName="volum"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
